In [11]:
import mysql.connector as m
db=m.connect(host='localhost',user='root',passwd='root')
cur=db.cursor()

cur.execute("create database if not exists Store")
cur.execute("use Store")
print("Database created")

cur.execute("create table if not exists Product_master(Product_no varchar(6) primary key,Description varchar(15),P_percent decimal(4,2),U_measure varchar(10),Qut_on_hand int,Recorder_lvl int,Sell_price decimal(8,2),Cost_price decimal(8,2))")
print("Table created")
cur.execute("insert into Product_master values('P001','Floppies',5,'Piece',100,20,525,500)")
cur.execute("insert into Product_master values('P002','Monitor',6,'Piece',10,3,12000,11280)")
cur.execute("insert into Product_master values('P003','Mouse',5,'Piece',20,5,1050,1000)")
cur.execute("insert into Product_master values('P004','Floppies',5,'Piece',100,20,525,500)")
cur.execute("insert into Product_master values('P005','Keyboards',2,'Piece',10,3,3150,3050)")
cur.execute("insert into Product_master values('P006','Cd Drive',2.5,'Piece',10,3,5250,5100)")
cur.execute("insert into Product_master values('P007','1.44 Drive',4,'Piece',10,3,8400,8000)")
db.commit()

cur.execute("select distinct(Description) from Product_master")
for i in cur:
    print(i)
cur.execute("update Product_master set Cost_price=950.00 where Description='Floppies'")
cur.execute("delete from Product_master where Qut_on_hand=100")
cur.execute("alter table Product_master modify Sell_price decimal(10,2)")
cur.execute("desc Product_master")
for i in cur:
    print(i)
cur.execute("alter table Product_master add Charge1 int")
cur.execute("desc Product_master")
for i in cur:
    print(i)
cur.execute("update Product_master set Charge=1000")
cur.execute("select Product_no,Description from Product_master where Qut_on_hand<=100 and P_percent=5")
cur.execute("select * from Product_master")
for i in cur:
    print(i)

Database created
Table created
('Floppies',)
('Monitor',)
('Mouse',)
('Keyboards',)
('Cd Drive',)
('1.44 Drive',)

'cur.execute("alter table Product_master add Charge1 int")\ncur.execute("desc Product_master")\nfor i in cur:\n    print(i)'